.spinnerContainer {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: auto;
    min-width: auto;
    min-height: auto;
    display: flex;
    background-color: rgba(74, 80, 92, 0.3);
    align-items: center;
    justify-content: center;
  }