apiVersion: gateway.kyma-project.io/v1beta1
kind: APIRule
metadata:
  labels:
    sample: principal-prop-on-prem
  name: principal-prop-on-prem
spec:
  gateway: kyma-gateway.kyma-system.svc.cluster.local
  host: principal-prop-on-prem
  rules:
    - path: /.*
      methods: ["GET", "POST", "PUT", "DELETE"]
      service:
        name: app-router
        port: 5000
      accessStrategies:
        - handler: noop
      mutators:
        - handler: header
          config:
            headers:
              x-forwarded-host: "principal-prop-on-prem.{your-cluster-domain}"
