apiVersion: gateway.kyma-project.io/v1beta1
kind: APIRule
metadata:
  name: httpbin
spec:
  gateway: kyma-gateway.kyma-system.svc.cluster.local
  host: httpbin
  rules:
  - accessStrategies:
    - config:
        jwks_urls:
        - https://{sap-cloud-identity-tenant}.ondemand.com/oauth2/certs
        trusted_issuers:
        - https://{sap-cloud-identity-tenant}.ondemand.com
      handler: jwt
    methods:
    - GET
    - POST
    - PUT
    - PATCH
    - DELETE
    - HEAD
    path: /.*
    service:
      name: httpbin
      port: 8000
    mutators:
    - handler: noop  #forwards the headers from the gateway to microservice