apiVersion: azure.microsoft.com/v1alpha1
kind: ResourceGroup
metadata:
  name: resourcegroup-azure-operators
spec:
  location: westeurope
---
apiVersion: azure.microsoft.com/v1alpha1
kind: RedisCache
metadata:
  labels:
    env: demo
  name: {provide-a-name} #replace it with your redis cache name
spec:
  location: westeurope
  properties:
    enableNonSslPort: false
    sku:
      capacity: 1
      family: C
      name: Basic
  resourceGroup: resourcegroup-azure-operators