node_modules/
.idea/
.mta/
*.mtar
dist/
package-lock.json
mta_archives/
deployer/resources/
Makefile*
mta-*
approuter/*/webapp/

node_modules/
dist/
.scp/
.env
Makefile*.mta
mta_archives
mta-*
resources
archive.zip
.*_mta_build_tmp